{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<h1 class="titre-page">Connexion</h1>


	<form method="post">
		<label for="email">Email</label>
		<input type="email" id="email" name="_username" value="{{ last_username }}" autocomplete="email" required autofocus placeholder="Email...">

		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="_password" autocomplete="current-password" required placeholder="Mot de passe...">

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		{% if error %}
			<div class="error">Email ou mot de passe incorrect.</div>
		{% endif %}

		<button type="submit" class="btn">Se connecter</button>
	</form>
{% endblock %}
