<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}
				Wakatta!
			{% endblock %}
		</title>

		<link rel="icon" type="image/png" href="{{ asset('images/Wakatta_Mini.png') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{# JS (Stimulus/Turbo) via AssetMapper #}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		{# Hot reload FrankenPHP #}
		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
		{% if frankenphpHotReload %}
			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
		 	<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
		{% endif %}
	</head>
	<body>

		<div class="min-h-screen flex flex-col items-center justify-center px-4"> {% block body %}{% endblock %}
			</div>

		</body>
	</html>
